<h2 class="mb-3">Library Patrons</h2>
{{#each patrons}}
<div class="row">
        <div class="col-md-4 mb-3">
            <a href="../routes/patrons/:{{id}}">{{name}}</a>
        </div>
</div>
{{/each}}