<h2 class="mb-3">{{patron.name}}'s Checked Out Books</h2>
<ul class="list-group">
{{#each book}}
    <li class="list-group-item d-flex justify-content-between">
        <span>{{title}} by {{author}}</span>
    </li>
{{/each}}
</ul>
<a class="btn btn-primary mt-3" href="/patrons"> Back to Patrons</a>

