<h2 class="mb-3">Patron Summary</h2>

<div class="row">
    <div class="col-md-4 mb-3">
        <p>Total Patrons</p>
        <p>{{totalPatrons}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <p>Total Books Checked Out</p>
        <p>{{totalBooksCheckedOut}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <p>Average Books per Patron</p>
        <p>{{averageBooks}}</p>
    </div>
</div>

<div class="row">
    <a class="btn btn-primary mt-3" href="/patrons"> Back to Patrons</a>
</div>
